<div ng-controller="AsignaturasCtrl">
<div class="jumbotron">
  <h1>Proyecto Drools</h1>
</div>

   
<div>
	 <table class="table table-condensed">
    <thead>
      <tr>
        <th>Clave</th>
        <th>Nombre</th>
        <th>Carrera</th>
        <th>Idioma</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="a in asignaturas">
        <td>{{ a.clave}}</td>
	    <td>{{ a.nombre }}</td>
	    <td>{{ a.carrera}}</td>
	    <td>{{ a.idioma}}</td>
	    <td><button  type="button" ng-show="isDisabled" ng-click="insertarAsignaturaAlumno(a.nombre)">Agregar</
      </tr>
    </tbody>
  </table>
  button>{{resultadoInsercion}}</td>
</div>
